[submodule "week-2/homework-8/volcano_coin/lib/openzeppelin-contracts"]
	path = week-2/homework-8/volcano_coin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week-2/homework-8/volcano_coin/lib/forge-std"]
	path = week-2/homework-8/volcano_coin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-3/homework-9/nft_project/lib/openzeppelin-contracts"]
	path = week-3/homework-9/nft_project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week-3/homework-9/nft_project/lib/forge-std"]
	path = week-3/homework-9/nft_project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
